{% extends 'CraueFormFlowDemoBundle:FormFlowDemo:layout_flow.html.twig' %}

{% block headline %}
	<h1>{{ 'formFlow.demo' | trans }}: {{ 'formFlow.demo.locationFlow.title' | trans }}</h1>
{% endblock %}

{% block form %}
	{{ form_start(form, {'action': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')), 'attr': {'class': 'flow-form'}}) }}
		<fieldset>
			<legend>{{ 'step' | trans }} {{ flow.getCurrentStepNumber() }}: {{ flow.getCurrentStepLabel() | trans }}</legend>
			{{ form_errors(form) }}

			{% if flow.getCurrentStepNumber() == 1 %}
				{{ 'country_intro' | trans }}
				<br /><br />
				{{ form_row(form.country) }}
			{% endif %}

			{% if flow.getCurrentStepNumber() == 3 %}
				{{ 'confirmation_intro' | trans }}
				<br />
				<dl>
					<dt>{{ 'country' | trans }}:</dt>
					<dd>{{ country(formData.country) }}</dd>

					{% if formData.region is not empty %}
						<dt>{{ 'region' | trans }}:</dt>
						<dd>{{ formData.region | trans({}, 'locationRegions') }}</dd>
					{% endif %}
				</dl>
			{% endif %}

			{{ form_rest(form) }}
		</fieldset>

		{% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
	{{ form_end(form) }}
{% endblock %}
