{% extends 'CraueFormFlowDemoBundle:FormFlowDemo:layout_flow.html.twig' %}

{% block headline %}
	<h1>{{ 'formFlow.demo' | trans }}: {{ 'formFlow.demo.vehicleFlow.title' | trans }}</h1>
{% endblock %}

{% block form %}
	{{ form_start(form, {'action': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')), 'attr': {'class': 'flow-form'}}) }}
		<fieldset>
			<legend>{{ 'step' | trans }} {{ flow.getCurrentStepNumber() }}: {{ flow.getCurrentStepLabel() | trans }}</legend>
			{{ form_errors(form) }}

			{% if flow.getCurrentStepNumber() == 1 %}
				{{ 'wheels_intro' | trans }}
				<br /><br />
				{{ form_row(form.vehicle.numberOfWheels) }}
			{% endif %}

			{% if flow.getCurrentStepNumber() == 2 %}
				{{ form_row(form.vehicle.engine) }}
			{% endif %}

			{% if flow.getCurrentStepNumber() == 3 %}
				{{ form_row(form.addDriver) }}
			{% endif %}

			{% if flow.getCurrentStepNumber() == 4 %}
				{{ form_row(form.driver.firstname) }}
				{{ form_row(form.driver.lastname) }}
			{% endif %}

			{% if flow.getCurrentStepNumber() == 5 %}
				{{ 'confirmation_intro' | trans }}
				<br /><br />
				<b>{{ 'vehicle' | trans }}</b>
				<dl>
					<dt>{{ 'wheels' | trans }}:</dt>
					<dd>{{ formData.vehicle.numberOfWheels }}</dd>

					{% if formData.vehicle.engine is not empty %}
						<dt>{{ 'engine' | trans }}:</dt>
						<dd>{{ formData.vehicle.engine | trans({}, 'vehicleEngines') }}</dd>
					{% endif %}
				</dl>

				{% if formData.addDriver %}
					<b>{{ 'driver' | trans }}</b>
					<dl>
						<dt>{{ 'firstname' | trans }}:</dt>
						<dd>{{ formData.driver.firstname }}</dd>

						<dt>{{ 'lastname' | trans }}:</dt>
						<dd>{{ formData.driver.lastname }}</dd>
					</dl>
				{% endif %}
			{% endif %}

			{{ form_rest(form) }}
		</fieldset>

		{% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
	{{ form_end(form) }}
{% endblock %}
